body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(14, 14, 14);
    overflow-y: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}

#TitleCanvas {
    display: block;
    width: 100vw;
    height: 30vh;
}

#postcontainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

.video {
    display: flex;
    flex: 0 0 150px;
    padding: 10px;
    height: 100%;
}

.video twitter-tweet {
    width: 100% !important;
    height: 100% !important;
}
